<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQgL3FmckYw3zNNe1aaeHKXvYwWwKHJYM</string>
	<key>GCM_SENDER_ID</key>
	<string>1080684299254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.girmanTechnologies</string>
	<key>PROJECT_ID</key>
	<string>griman-technologies</string>
	<key>STORAGE_BUCKET</key>
	<string>griman-technologies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080684299254:ios:2746784a4bb32a2c147dd7</string>
</dict>
</plist>